<p>Hello <%= @resource.email %>!</p>

<p>Кто-то запросил изменить пароль к Вашему аккаунту, для подтверждения нажмите ссылку.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если Вы не запрашивали изменений, просто проигнорируйте это письмо.</p>
<p>Выш пароль не изменится до тех пор пока Вы не перейдете по ссылке и не создадите новый пароль.</p>
