<h3>Панель управления контрактами</h3>
<%-	 if   %>
<table border=1>
  <tbody>
  <!-- Results table headers -->
  <tr>
    <th>№</th>
    <th>Дата создания</th>
    <th>Состояние</th>
  </tr>
  <tr>
    <td>1</td>
    <td>12 марта 2012</td>
    <td bgcolor="#dc143c"></td>
  </tr>
  </tbody>
</table>
<p><%= link_to "Новый контракт", :confirm => "Вы уверены?" %>.</p>